header.header.header-transparent
    .container-fluid
        // Brand
        .inner-header
            a.inner-brand(href='/')
                img(src='assets/images/kbfs_logo.svg', class='img-fluid')
        // Navigation
        .inner-navigation.collapse
            .inner-nav.onepage-nav
                ul
                    li.d-none: a(href='#home')
                      span.menu-item-span Home
                    li: a(href='#mission')
                        span.menu-item-span Our Mission
                    li: a(href='#whatwedo')
                        span.menu-item-span What we do
                    li: a(href='#events')
                        span.menu-item-span Our Events
                    li: a(href='#join')
                        span.menu-item-span Join Us
                    li: a(href='#team')
                        span.menu-item-span Our Team
                    li: a(href='#contact')
                        span.menu-item-span Contact Us
                    li: a(href="/finimize")
                        span.menu-item-span Finimize
        .extra-nav
            ul
                li.nav-toggle
                    a(href='#', data-toggle='collapse', data-target='.inner-navigation')
                        span.menu-item-span
                            i.ti-menu
// Header end
