header.header.header-transparent
    .container-fluid
        // Brand
        .inner-header
            a.inner-brand(href='/')
                img(src='assets/images/kbfs_logo.svg', class='img-fluid', width='65%')
        // Navigation
        .inner-navigation.collapse
            .inner-nav
                ul
                    li.menu-item-has-children.menu-item-has-mega-menu
                        a(href='#')
                            span.menu-item-span Home
                    li.menu-item-has-children.menu-item-has-mega-menu
                        a(href='#mission')
                            span.menu-item-span Our Mission
                    li.menu-item-has-children
                        a(href='#whatwedo')
                            span.menu-item-span What we do
                    li.menu-item-has-children.menu-item-has-mega-menu
                        a(href='#team')
                            span.menu-item-span Our Team
                    li.menu-item-has-children
                        a(href='#events')
                            span.menu-item-span Our Events
                    li.menu-item-has-children
                        a(href='#contact')
                            span.menu-item-span Contact Us
        .extra-nav
            ul
                li.nav-toggle
                    a(href='#', data-toggle='collapse', data-target='.inner-navigation')
                        span.menu-item-span
                            i.ti-menu
// Header end