extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section#home.module-cover.parallax.text-center.fullscreen(data-background="assets/images/kbfs_banner.jpg" data-overlay="0.65")
    .container

      .row
        .col-md-12
          h1.m-b-10: strong We help you navigate the world of banking &amp; finance
          .col-md-8.m-auto.text-center
            p.m-b-30 King’s Banking &amp; Finance Society is the largest finance and banking society in King’s College London. We connect top talent like yourself to top firms and support you every step of the way in your application journey and beyond.
          p.lead
            a(href="https://www.kclsu.org/groups/activities/join/8646/" target="_blank" class="btn btn-lg btn-brand") Become a member
          ul.social-icons
            li
              a(href='https://twitter.com/KingsBFS')
                i.fab.fa-twitter
            li
              a(href='https://www.instagram.com/Kings.BFS')
                i.fab.fa-instagram
            li
              a(href='https://www.facebook.com/KingsBFS/')
                i.fab.fa-facebook-f
            li
              a(href='https://www.linkedin.com/company/KBFS')
                i.fab.fa-linkedin
  // Hero end

  = "\n"

  // Sponsors
  section#sponsors.module.bg-gray.p-b-20.p-t-30
    .container
      .row
        .col-md-8.m-auto.text-center
          h6.lead.serif Proudly sponsored by
      .row
        .col-md-10.m-auto
          .owl-carousel.clients-carousel
            .client.mx-auto
              a(href="https://www.morganstanley.com/"): img(src="assets/images/sponsors/morgan-stanley.png" alt="Morgan Stanley")
            .client.mx-auto
              a(href="/finimize"): img(src="assets/images/sponsors/finimize.png" alt="Finimize")
            .client.mx-auto
              a(href="https://www.brightnetwork.co.uk/"): img(src="assets/images/sponsors/bright-network.jpg" alt="Bright Network")
            .client.mx-auto
              a(href="https://www.seo-london.org/"): img(src="assets/images/sponsors/seo-london.jpg" alt="SEO London")
  // Sponsors end

  // Partners
  section#partners.module.bg-gray.p-b-30.p-t-0
    .container
      .row
        .col-md-8.m-auto.text-center
          h6.lead.serif Proudly partnered with
      .row
        .owl-carousel.clients-carousel.owl-centered
          .client
            a(href="https://www.goldmansachs.com/"): img(src="assets/images/partners/goldman-sachs.png" alt="Goldman Sachs")
          .client
            a(href="https://www.bankofamerica.com/"): img(src="assets/images/partners/baml.jpeg" alt="Bank of America Merrill Lynch")
          .client
            a(href="https://www.jpmorgan.com/"): img(src="assets/images/partners/jp-morgan.jpeg" alt="JP Morgan")
          .client
            a(href="https://www.morganstanley.com/"): img(src="assets/images/partners/morgan-stanley.png" alt="Morgan Stanley")
          .client
            a(href="https://www.hsbc.co.uk/"): img(src="assets/images/partners/hsbc.png" alt="HSBC")
          .client
            a(href="https://www.barclays.co.uk/"): img(src="assets/images/partners/barclays.png" alt="Barclays")
          .client
            a(href="https://www.ubs.com/"): img(src="assets/images/partners/ubs.png" alt="UBS")
          .client
            a(href="https://www.credit-suisse.com/"): img(src="assets/images/partners/credit-suisse.png" alt="Credit Suisse")
          .client
            a(href="https://www.db.com/"): img(src="assets/images/partners/deutsche-bank.png" alt="Deutsche Bank")
          .client
            a(href="https://www.citigroup.com/"): img(src="assets/images/partners/citi.png" alt="Citi")
          .client
            a(href="https://www.lloydsbank.com/"): img(src="assets/images/partners/lloyds-bank.png" alt="Lloyds Bank")
          .client
            a(href="https://www.blackrock.com/"): img(src="assets/images/partners/blackrock.jpg" alt="BlackRock")
          .client
            a(href="https://www.sbs.ox.ac.uk/"): img(src="assets/images/partners/universityofoxfordbusiness.png" alt="University of Oxford Saïd Business School")
          .client
            a(href="https://www.cvc.com/"): img(src="assets/images/partners/cvc.png" alt="CVC Capital Partners")
          .client
            a(href="https://www.virginatlantic.com/"): img(src="assets/images/partners/virgin-atlantic.png" alt="Virgin Atlantic")
          .client
            a(href="https://www.seo-london.org/"): img(src="assets/images/partners/seo-london.jpg" alt="SEO London")

  // Partners end

  = "\n"

  // About
  section#mission.module.divider-bottom
    .container
      .row
        .col-md-8.m-auto.text-center
          h1 Our Mission
          h4.m-b-20.serif Help you navigate the world of banking &amp; finance
          p.lead
            | King's Banking &amp; Finance Society aims to educate the community about the various career paths within the world of banking and finance, thus increasing awareness and presence of the sector on campus. Our events promote career opportunities and provide insight into the industries and their respective recruitment processes, equipping members with key knowledge to pursue their career aspirations in the most competitive graduate job sector.

      .row
        .col-md-12
          .space(data-mY="30px")


  // About end

  = "\n"

  // Statistics
  section.module.bg-gray
    .container
      .row
        .col-md-6.m-auto.text-center
          h1 Our Impact
          p.lead  Our statistics
      .row
        .col-md-3
          +Counter("Active Members", "3000", "icon-energy icons")
        .col-md-3
          +Counter("Events Hosted", "100", "icon-energy icons")
        .col-md-3
          +Counter("In Attendance", "5000", "icon-energy icons")
        .col-md-3
          +Counter("Alumni", "100", "icon-energy icons")
      .row
        .col-md-12
          .space(data-mY="30px")
  // Statistics end

  = "\n"
  section#whatwedo.module
    .row
      .col-md-6.m-auto.text-center
        h1 What we do
        p.lead Just some of the ways we support you
    .container
      .row
        .col-lg-4.col-md-6
          .icon-box.text-center
            .icon-box-icon
              //- img(src='assets/images/emblem_vector.jpg', width='50', height='50')
              span.ti-exchange-vertical
            .icon-box-title
              h6 Collaborations
            .icon-box-content
              p  Collaboration with other major societies &amp; organisations
        .col-lg-4.col-md-6
          .icon-box.text-center
            .icon-box-icon
              //- img(src='assets/images/emblem_vector.jpg', width='50', height='50')
              span.ti-support
            .icon-box-title
              h6 Application Support
            .icon-box-content
              p CV, Cover Letter &amp; Interview support

        .col-lg-4.col-md-6
          .icon-box.text-center
            .icon-box-icon
              //- img(src='assets/images/emblem_vector.jpg', width='50', height='50')
              span.ti-world
            .icon-box-title
              h6 Networking events
            .icon-box-content
              p Regular informal networking meetups and other socials events

        .col-lg-4.col-md-6
          .icon-box.text-center
            .icon-box-icon
              //- img(src='assets/images/emblem_vector.jpg', width='50', height='50')
              span.ti-announcement
            .icon-box-title
              h6 Promote timely career opportunities
            .icon-box-content
              p Never again miss out on career offers &amp; opportunities

        .col-lg-4.col-md-6
          .icon-box.text-center
            .icon-box-icon
              //- img(src='assets/images/emblem_vector.jpg', width='50', height='50')
              span.ti-comments
            .icon-box-title
              h6 Host talks &amp; panels
            .icon-box-content
              p Invite speakers from prestigious Banking &amp; Finance firms

        .col-lg-4.col-md-6
          .icon-box.text-center
            .icon-box-icon
              //- img(src='assets/images/emblem_vector.jpg', width='50', height='50')
              span.ti-palette
            .icon-box-title
              h6 Promote Diversity &amp; Inclusion
            .icon-box-content
              p Our diversity makes us stronger

    .row
      .col-md-12
        .space(data-mY="30px")


  = "\n"

  // Events
  section#events.module.divider-top
    .container-fluid
      .row.m-b-3
        .col-md-6.m-auto.text-center
          h1 Our Events
          p.lead See all of our events on 
            a(href="https://www.facebook.com/kingsbfs/events/") Facebook
            |  and 
            a(href="https://www.eventbrite.co.uk/o/kings-banking-amp-finance-society-18123728208") Eventbrite
      .row
        .col-md-6.m-auto.text-center
          h5 Upcoming events
      .row.m-b-4
        .col-md-10.m-auto#upcoming-events
      .row
        .col-md-6.m-auto.text-center
          h5 Past events
      .row
        .col-md-10.m-auto#past-events
      .row
        .col-md-12
          .space(data-mY="30px")
  // Events end


  = "\n"

  // Membership
  section#join.module.divider-top
    .container
      .row
        .col-md-6.m-auto.text-center
          h1 Join Us
          p.lead Become a member and enjoy exclusive perks
      .row
        .col-md-6.m-auto.text-center
          p.lead
            a(href="https://www.kclsu.org/groups/activities/join/8646/" target="_blank" class="btn btn-lg btn-brand") Become a member
      //- .row
        //- .col-md-12
          //- +pricing("X", "12", ["Free access to paid events"])
          //- +pricing("LUX", "12", ["Free access to paid events (free drinks)", "Priority access to free events", "Priority access to exclusive events (visiting trading floors, Bulge Bracket Firms,...)", "Newsletters (Fast tracks, commercial awareness,...)", "Summer & Spring internship application guides and other invaluable resources", "Exclusive career opportunities from our partner firms sent directly to your inbox"])
          //- +pricing("EXEC", "19", ["Free access to paid events (free drinks)", "Priority access to free events", "Newsletters (Fast tracks, commercial awareness,...)"])
      //- .row.d-none#checkout-error
      //-   .col-md-10.m-auto.text-center
      //-     .alert.alert-danger
      //-       | There was an with error processing your membership please try again.
      .row
        .col-md-12
          .space(data-mY="30px")
      .row
        .col-md-10.m-auto.text-center
          p.small.lead By purchasing a membership you automatically agree to our 
            a(href="/terms") Terms and Conditions*
  // Membership end

  = "\n"


  // Team
  section#team.module.divider-top
    .container

      .row
        .col-md-6.m-auto.text-center
          h1 Our Team
          p.lead The team that makes it all happen

      .row
        .col-md-12
          .space(data-MY="60px")

      //- .row
      //-   .col-lg-4.col-md-3
      //-   .col-lg-4.col-md-6
      //-     +team("assets/images/team/juan.jpeg", "JUAN BETANCOURT", "The Board")
      //-   .col-lg-4.col-md-3

      .row
        .col-lg-2.col-md-2
        .col-lg-4.col-md-4
          +team("assets/images/team/Harshali_Ranjan.jpeg", "HARSHALI RANJAN", "President")

        .col-lg-4.col-md-4
          +team("assets/images/team/Jonas_Nepozitek.jpeg", "JONAS NEPOZITEK", "1st Vice President")
        .col-lg-2.col-md-2

      // CENTERING STYLE
      //- .row
      //-   .col-lg-4.col-md-3
      //-   .col-lg-4.col-md-6
      //-     +team("assets/images/team/samon.jpeg", "SAMON SANCHULI", "President")
      //-   .col-lg-4.col-md-3

      .row
        .col-lg-2.col-md-2
        .col-lg-4.col-md-4
          +team("assets/images/team/Austin_Brattli.jpeg", "AUSTIN BRATTLI", "2nd Vice President")

        .col-lg-4.col-md-4
          +team("assets/images/team/Mikael_Medzhidov.jpeg", "MIKAEL MEDZHIDOV", "Director of Finances(Treasurer)")
        .col-lg-2.col-md-2

      .row
        .col-lg-4.col-md-4
          +team("assets/images/team/Isabelle_Duerbeck.jpeg", "ISABELLE DUERBECK", "Director of Corporate Relations")
        .col-lg-4.col-md-4
          +team("assets/images/team/Daniel_Shraibman.jpeg", "DANIEL SHRAIBMAN", "Director of Partnership and External Relations")
        .col-lg-4.col-md-4
          +team("assets/images/team/Karina_Nazarova.jpeg", "KARINA NAZAROVA", "Director of Tech and Widening Participation")
        .col-lg-4.col-md-4
          +team("assets/images/team/Anel_Yegemberdiyeva.jpeg", "ANEL YEGEMBERDIYEVA", "Director of Marketing and Communications")
        
        .col-lg-4.col-md-4
          +team("assets/images/team/lion.png", "", "")
      

          

      .row
        .col-md-12
          .space(data-MY="30px")

  // Team end

  = "\n"

  // Form start
  section#contact.module.divider-top
    .container

      .row
        .col-lg-6.col-md-9.m-auto.text-center
          h1 Speak to Us
          p.lead Just fill out the details and we'll get back to you as soon as we can

      .row
        .col-md-12
          .space(data-MY="60px")

      .row
        .col-md-12
          form#contact-form(method="post")
            .row
              .col-md-4
                .form-group
                  input.form-control(type="text" name="name" placeholder="Name" required)
                  p.help-block.text-danger
              .col-md-4
                .form-group
                  input.form-control(type="email" name="email" placeholder="E-mail" required)
                  p.help-block.text-danger
              .col-md-4
                .form-group
                  input.form-control(type="text" name="subject" placeholder="Subject" required)
                  p.help-block.text-danger
              .col-md-12
                .form-group
                  textarea.form-control(name="message" placeholder="Message" rows="12" required)
              .col-md-12
                p
                .text-center
                  input(type="submit" class="btn btn-brand" value="Send Message")
          // Ajax response
          #contact-response.ajax-response.text-center
  // Form End

  = "\n"

  // Image
  section.module.no-gutters.p-0
    .container-fluid
      .row
        .col-md-12
          img(src="assets/images/bushhoueEntrance.jpg" height="200px" alt="")
  // Image end
