extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover.parallax.text-center.fullscreen(data-background="/assets/images/kbfs_banner.jpg" data-overlay="0.65")
    .container
      .row
        .col-md-12
          h1.m-b-30.m-t-60: strong TERMS &amp; CONDITIONS
          p.text-center Refunds will not be provided for any subscription. 
          p.text-left We do not provide credit, refunds, or prorated billing for subscriptions that are cancelled mid-way. In such a circumstance, you will continue to have access to your Subscription until the end of the yearly billing cycle. Each Subscription Provider reserves the right to offer refunds, discounts or other considerations in select circumstances at its sole discretion. Please note that each circumstance is unique and election to make such an offer in one instance does not create the obligation to do so in another.
          p.text-left When you sign up for KBFS Membership, your membership is set to automatically renew at the end of your chosen membership period. You can turn off this automatic renewal at any time. All membership benefits are valid throughout the course of the membership period, and are subject to change at the management’s discretion.
          p.text-left As a member you agree to comply with the rules of membership and appropriate conduct. We may make reasonable changes to these rules at any time provided we provide advance notice. If any part of the subscription, or monies on your account remain unpaid after the due date, you will be in breach of the membership rules and your membership will be cancelled.
          // p.text-left In the event of any defaulted payments, the management may disclose personal particulars contained in the membership agreement to a credit reference agency or any other party necessary in obtaining settlement of arrears.
          p.lead.m-b-80
            a(href="/#join" class="btn btn-lg btn-brand") Join now to enjoy exclusive benefit

  // Hero end
