/* CSS Document */

.bncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bnlogo {
    height: 200px;
    width: 200px
}

#slocation {
    width: 700px;
    height: 400px;

}



.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info{
    font-size: 1.5em;
}

h2{
     text-align: center;
 }