extends include/templates/layout

block vars
    - var header_transparent = true;

append css

append content

    // Hero
    section.module-cover.parallax.text-center.fullscreen(data-background="/assets/kbfs/images/kbfs_banner.jpg" data-overlay="0.6")
        .container

            .row
                .col-md-12
                    h1.m-b-20: strong King's Banking & Finance Society
                    p
                        a(href="https://www.kclsu.org/organisation/kbfs/" class="btn btn-lg btn-circle btn-brand") Become a member
    // Hero end

    = "\n"

    // About
    section#about-us.module.divider-bottom
        .container

            .row
                .col-md-6.m-auto.text-center
                    h1 We connect King’s top talent like yourself to top financial firms and support you every step of the way in your application journey and beyond.
                    p.lead Our events promote career opportunities and provide insight into the industries and their respective recruitment processes, equipping members with key knowledge to pursue their career aspirations in the most competitive graduate job sector.

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-md-12
                    p: img(src="assets/kbfs/images/bushhouse.jpg" alt="")

            .row
                .col-md-12
                    .space(data-mY="30px")


    // About end

    = "\n"

    // Counters
    section.module.bg-gray.p-b-40
        .container
            .row
                .col-md-6.m-auto.text-center
                    h1 Statistics

            .row
                .col-md-3
                    +Counter("Active Members", "2800", "icon-energy icons")
                .col-md-3
                    +Counter("Events Hosted", "100", "icon-energy icons")
                .col-md-3
                    +Counter("In Attendance", "5000", "icon-energy icons")
                .col-md-3
                    +Counter("Alumnus", "100", "icon-energy icons")
    // Counters end

    = "\n"
    section#whatwedo.module
        .row
            .col-md-6.m-auto.text-center
                h1 What we do
                br
        .container
            .row
                .col-lg-4.col-md-6
                    .icon-box
                        .icon-box-icon
                            img(src='assets/kbfs/images/emblem_vector.jpg', width='50', height='50')
                        .icon-box-content
                            ul
                                li  Collaboration with other major societies on campus
                .col-lg-4.col-md-6
                    .icon-box
                        .icon-box-icon
                            img(src='assets/kbfs/images/emblem_vector.jpg', width='50', height='50')
                        .icon-box-title
                            h6 Network
                        .icon-box-content
                            ul
                                li Application (CV, Cover Letter) and technical workshops

                .col-lg-4.col-md-6
                    .icon-box
                        .icon-box-icon
                            img(src='assets/kbfs/images/emblem_vector.jpg', width='50', height='50')
                        .icon-box-title
                            h6 Provide
                        .icon-box-content
                            ul
                                li Provide exclusive insight into specific divisions and the recruitment

                .col-lg-4.col-md-6
                    .icon-box
                        .icon-box-icon
                            img(src='assets/kbfs/images/emblem_vector.jpg', width='50', height='50')
                        .icon-box-title
                            h6 Collaborate
                        .icon-box-content
                            ul
                                li Promote timely career opportunities

                .col-lg-4.col-md-6
                    .icon-box
                        .icon-box-icon
                            img(src='assets/kbfs/images/emblem_vector.jpg', width='50', height='50')
                        .icon-box-title
                            h6 Collaborate
                        .icon-box-content
                            ul
                                li Invite speakers from Banking and Finance firms to host panels

                .col-lg-4.col-md-6
                    .icon-box
                        .icon-box-icon
                            img(src='assets/kbfs/images/emblem_vector.jpg', width='50', height='50')
                        .icon-box-title
                            h6 Collaborate
                        .icon-box-content
                            ul
                                li Informal networking meetups every single month

    = "\n"


    // Team
    section#team.module
        .container

            .row
                .col-md-6.m-auto.text-center
                    h1 Our Team

            .row
                .col-md-12
                    .space(data-MY="60px")

                      .row
                        .col-lg-2.col-md-2
                        .col-lg-4.col-md-4
                          +team("assets/images/team/Chris.jpeg", "CHRIS JIM", "The Board")
                
                        .col-lg-4.col-md-4
                          +team("assets/images/team/Juan.jpeg", "JUAN BETANCOURT", "The Board")
                        .col-lg-2.col-md-2
                    
                      // CENTERING STYLE
                      //- .row
                      //-   .col-lg-4.col-md-3
                      //-   .col-lg-4.col-md-6
                      //-     +team("assets/images/team/samon.jpeg", "SAMON SANCHULI", "President")
                      //-   .col-lg-4.col-md-3
                      
                      .row
                        .col-lg-2.col-md-2
                        .col-lg-4.col-md-4
                          +team("assets/images/team/Samon.jpeg", "SAMON SANCHULI", "President")

                        .col-lg-4.col-md-4
                          +team("assets/images/team/Filip.jpeg", "FILIP BOLCO", "Vice President")
                        .col-lg-2.col-md-2          

                      .row
                        .col-lg-4.col-md-4
                          +team("assets/images/team/Alicia.jpeg", "ALICIA DE MORA LOSANA GAGO", "Head of Marketing")
                        .col-lg-4.col-md-4
                          +team("assets/images/team/Axelle.jpeg", "AXELLE DUJ ARDIN", "Head of Social Media")
                        .col-lg-4.col-md-4
                          +team("assets/images/team/Gaia.jpeg", "Gaia Tamburini", "Head of Corporate Relations")
                        .col-lg-4.col-md-4
                          +team("assets/images/team/Viktor.jpeg", "JACOB VIKTOR FINNILA", "Treasurer")
                        .col-lg-4.col-md-4
                          +team("assets/images/team/Arina.jpeg", "ARINA KURDOVA", "Senior Associate")
                        .col-lg-4.col-md-4
                          +team("assets/images/team/Julio.jpeg", "JULIO ALEGRIA", "Senior Associate")

            //.row
            //    .col-md-12
            //        .space(data-MY="30px")

    // Team end


    = "\n"

    //Clients
    section.module.bg-gray.p-t-40.p-b-40
        .container


            //.space(data-MY="-60px")
            .row
                .col-md-6.m-auto.text-center
                    h1 Sponsors



            //.row
            //    +pricing("Starter", "Free", false, "ti-slice")
            //    +pricing("Standard", "45", true, "ti-pin-alt")
            //    +pricing("Professional", "69", true, "ti-marker-alt")

            .row
                .col-md-10.m-auto
                    .client
                        img(src="assets/kbfs/images/sponsor-logo.jpg" alt="")

    //Clients end



    = "\n"

    // Form start
    section#contact.module.divider-top
        .container

            .row
                .col-lg-6.col-md-9.m-auto.text-center
                    h1 Speak to Us

            .row
                .col-md-12
                    .space(data-MY="60px")

            .row
                .col-md-12
                    form#contact-form(method="post" novalidate)
                        .row
                            .col-md-3
                                .form-group
                                    input.form-control(type="text" name="name" placeholder="Name" required="")
                                    p.help-block.text-danger
                            .col-md-3
                                .form-group
                                    input.form-control(type="email" name="email" placeholder="E-mail" required="")
                                    p.help-block.text-danger
                            .col-md-3
                                .form-group
                                    input.form-control(type="text" name="subject" placeholder="Subject" required="")
                                    p.help-block.text-danger
                            .col-md-3
                                .form-group
                                    input.form-control(type="text" name="position/organization" placeholder="Position / Organization" required="")
                                    p.help-block.text-danger
                            .col-md-12
                                .form-group
                                    textarea.form-control(name="message" placeholder="Message" rows="12" required="")
                            .col-md-12
                                p
                                .text-center
                                    input(type="submit" class="btn btn-circle btn-brand" value="Send Message")
                    // Ajax response
                    #contact-response.ajax-response.text-center
    // Form End

    = "\n"

    // Image
    section.module.no-gutters.p-0
        .container-fluid

            .row
                .col-md-12
                    img(src="assets/kbfs/images/bushhoueEntrance.jpg" height="200px" alt="")
    // Image end
