// Footer
footer.footer
  .footer-bar
    .container
      .row
        .col-md-12
          .copyright
            p © King's Banking &amp; Finance Society 2020. All Rights Reserved.
            ul.social-icons
              li
                a(href='https://twitter.com/KingsBFS')
                  i.fab.fa-twitter
              li
                a(href='https://www.instagram.com/Kings.BFS')
                  i.fab.fa-instagram
              li
                a(href='https://www.facebook.com/KingsBFS/')
                  i.fab.fa-facebook-f
              li
                a(href='https://www.linkedin.com/company/KBFS')
                  i.fab.fa-linkedin
// Footer end
