include ../mixins/mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="description" content="King’s Banking & Finance Society is the largest finance and banking society in King’s College London. We help you navigate the world of banking and finance.")
        meta(name="image" content="assets/images/kbfs_canary_wharf_cover.png")
          
        title King's Banking and Finance Society

        block vars

        block css
            // Favicons
            link(rel='apple-touch-icon-precomposed', sizes='57x57', href='assets/images/favicon/apple-touch-icon-57x57.png')
            link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/images/favicon/apple-touch-icon-114x114.png')
            link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/images/favicon/apple-touch-icon-72x72.png')
            link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/images/favicon/apple-touch-icon-144x144.png')
            link(rel='apple-touch-icon-precomposed', sizes='60x60', href='assets/images/favicon/apple-touch-icon-60x60.png')
            link(rel='apple-touch-icon-precomposed', sizes='120x120', href='assets/images/favicon/apple-touch-icon-120x120.png')
            link(rel='apple-touch-icon-precomposed', sizes='76x76', href='assets/images/favicon/apple-touch-icon-76x76.png')
            link(rel='apple-touch-icon-precomposed', sizes='152x152', href='assets/images/favicon/apple-touch-icon-152x152.png')
            link(rel='icon', type='image/png', href='assets/images/favicon/favicon-196x196.png', sizes='196x196')
            link(rel='icon', type='image/png', href='assets/images/favicon/favicon-96x96.png', sizes='96x96')
            link(rel='icon', type='image/png', href='assets/images/favicon/favicon-32x32.png', sizes='32x32')
            link(rel='icon', type='image/png', href='assets/images/favicon/favicon-16x16.png', sizes='16x16')
            link(rel='icon', type='image/png', href='assets/images/favicon/favicon-128.png', sizes='128x128')
            meta(name='application-name', content='KBFS')
            meta(name='msapplication-TileColor', content='#FFFFFF')
            meta(name='msapplication-TileImage', content='assets/images/favicon/mstile-144x144.png')
            meta(name='msapplication-square70x70logo', content='assets/images/favicon/mstile-70x70.png')
            meta(name='msapplication-square150x150logo', content='assets/images/favicon/mstile-150x150.png')
            meta(name='msapplication-wide310x150logo', content='assets/images/favicon/mstile-310x150.png')
            meta(name='msapplication-square310x310logo', content='assets/images/favicon/mstile-310x310.png')


            // Web Fonts
            link(href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet")
            link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")

            // Plugins
            link(href="assets/css/plugins.min.css" rel="stylesheet")

            // Template core CSS
            link(href="assets/css/template.css" rel="stylesheet")

    body

        = "\n"

        // Preloader
        .page-loader
            .page-loader-inner
                .spinner
                    .double-bounce1
                    .double-bounce2
        // Preloader end

        = "\n"

        if ( header_transparent == true )
            - var header_classes = "header-transparent"

        
        // Navigation
        if ( header_one_page !== true )
            include navigation/navigation
        else
            include navigation/navigation-single

        // Header end

        = "\n"

        // Wrapper
        .wrapper

            block content

            = "\n"

            include footer

        // Wrapper end

        //- include off-canvas

        = "\n"

        // To top button
        a(href="#top" class="scroll-top"): i.fas.fa-angle-up

        = "\n"

        // Scripts
        script(src="assets/js/custom/jquery-3.2.1.min.js")
        script(src="assets/js/custom/popper.min.js")
        script(src="assets/js/bootstrap/bootstrap.min.js")
        //- script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q")
        script(src="assets/js/custom/plugins.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
        script(src="https://js.stripe.com/v3")
        script(src="assets/js/custom/custom.min.js")
        // Global site tag (gtag.js) - Google Analytics
        script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-131085922-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-131085922-1');
